@mixin textblock{
    width: 28%;
    align-self: center;
    display: flex;
    flex-direction: column;
    row-gap: 2vw;
}
@mixin textblockp{
        font-weight: 400;
        font-size: clamp(12px, 1.5vw, 16px);
        line-height: 188%;
        color: #6B6B6B;
}
@mixin textblockh3{
        font-weight: 400;
        font-size: clamp(8px, 1vw, 12px);
        line-height: 167%;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #A8A8A8;
}
@mixin textblockh1{
        font-weight: 400;
        font-size: clamp(22px, 3vw, 38px);
        line-height: 126%;
        color: #000000;
}
@mixin btna{
        font-weight: 400;
        font-size: clamp(12px, 2vw, 16px);
        line-height: 162%;
}